<a href="https://colab.research.google.com/github/aashna03/ML-School-Projects/blob/main/Assignmnent2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a python program to sort the list of heterogeneous data

In [1]:
L = ["Ram", 1, "Shyam", 2, "Aman", 3]
print(L)
L.sort()
print(L)
# Above code gives error. Correct it

['Ram', 1, 'Shyam', 2, 'Aman', 3]

TypeError: ignored

In [ ]:
## Error handling

In [2]:
L = ["Ram", 1, "Shyam", 2, "Aman", 3]
print(L)
try:
  L.sort()
  print(L)
except:
  print("TypeError: '<' not supported between instances of 'int' and 'str'")

['Ram', 1, 'Shyam', 2, 'Aman', 3]
TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
## solving error

In [3]:
L = ["Ram", 1, "Shyam", 2, "Aman", 3]
print(L)
try:
  L.sort()
  print(L)
except:
  L = [str(i) for i in L]
  L.sort()
  print(L)

['Ram', 1, 'Shyam', 2, 'Aman', 3]
['1', '2', '3', 'Aman', 'Ram', 'Shyam']